Source: scanssh
Section: net
Maintainer: Fukui Daichi <a.dog.will.talk@akane.waseda.jp>
Build-Depends: debhelper-compat (= 13), libpcap0.8-dev, libdumbnet-dev, libevent-dev
Standards-Version: 4.7.3
Vcs-Browser: https://salsa.debian.org/debian/scanssh
Vcs-Git: https://salsa.debian.org/debian/scanssh.git
Homepage: https://github.com/ofalk/scanssh

Package: scanssh
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: get SSH server versions for an entire network
 The ScanSSH protocol scanner scans a list of addresses and networks for
 running SSH protocol servers and their version numbers.  Version 2.0 adds
 support for scanning arbitrary ports and specifically open proxies.  The
 ScanSSH protocol scanner supports random selection of IP addresses from
 large network ranges and is useful for gathering statistics on the
 deployment of SSH protocol servers in a company or the Internet as whole.
